@import "../../../globals.scss";

.CabinetSection {
  display: flex;
  gap: 0.5rem;
  font-family: 'Poppins';
  img {
    height: 3.2rem;
  }

  li {
    font-size: 70%;
  }
  .title {
    font-family: 'Righteous';
    font-style: bold;
    color: rgb(52, 53, 72);
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: $theme--dark;
  }

  a:hover {
    text-decoration: underline;
    color:rgb(62, 138, 232);
  }
}
